.register-container {
  padding: calc(var(--spacing) / 2);
  width: 100%;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #8e8ceb70 0%, #cf70ec75 100%);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  height: 600px; 
  background-color: var(--color-white);
  padding: 1.5rem; 
  border-radius: var(--radius);
  box-shadow: 0px 2px 8px #00000044; 
}

.register-form-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  padding: 0.5rem;
  margin-bottom: .5rem;
}

.register-form-text p {
  color: #4b5563;
  margin: 0;
}

.register-form-text h1 {
  font-size: 2rem;
  margin: 0;
}

.error-container {
  min-height: 1.2rem;
  margin-bottom: 0.5rem;
  color: red;
  font-size: 0.85rem;
  visibility: visible;
}

.register-form label {
  font-weight: bold;
  margin-top: 0.5rem; 
  display: block;
}

.register-form input {
  width: 100%;
  padding: .7rem; 
  border-radius: var(--radius);
  border: 1px solid var(--color-accent);
  background-color: #FAF5FF;
  margin-bottom: 0.75rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem; 
}

.register-btn {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem; 
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.register-btn:hover {
  background-color: var(--color-accent-dark);
}

.register-form button:active {
  transform: scale(0.98);
}

.error {
  display: block;
  min-height: 1.2em;
  color: red;
  margin-bottom: 0.5rem;
  visibility: visible;
}

.redireccion-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.25rem;
  gap: 0.75rem;
  width: 100%;
}

.login-btn {
  border: none;
  color: var(--color-accent);
  background-color: transparent;
  font-size: larger;
  cursor: pointer;
}

.login-btn:hover {
  color: var(--color-accent-dark);
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
.register-form button {
  background-color: var(--color-accent-dark);
} 
}