.app-layout {
    display: flex;
    background-color: 	#F8F5F7;
    background-color:  	#faf6f288;;
     min-height: 100vh;
  

}




.main-content {
  margin-left: 150px; /*por los 150px de la sidebar*/
 padding: .5rem; 
 display: flex;
 flex-direction: column;
 align-items: center;
justify-content: flex-start;
 gap: 2rem;

}
.title {
  width: 100%;
  color: #000000;
  padding: 1rem;
  text-align: center;
}
.gridWorkspaces {
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
  width: 100%;

}

/* CADA CARD */
.cardWorkspaces {

  height: 200px;
    background-color: #734b5e96;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    color: 	#F8F5F7;
    transition: transform 0.2s ease;
    border: 2px solid #734B5E;
}

.cardWorkspaces:hover {
    transform: scale(1.01);
    background-color: #734b5eb4;
   
}
