
:root {
  --color-bg: #dfecfc;
  --color-text: #4B4B4B;
  --color-accent: #C084FC;
  --color-accent-dark: #A855F7;
  --color-white: #FFFFFF;

  --font-main: 'Segoe UI', sans-serif;
  --radius: 12px;
  --spacing: 1rem;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}



/*---------------------------------------------------------------------------------------------*/

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg);

  color: var(--color-text);
  
}

form {

  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
 
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
/*------------------------ Modo Oscuro -------------------------*/
@media (prefers-color-scheme: dark) {

:root {
    
--color-bg-dark:#414141bf;  
--color-text-dark: white; 
--color-accent-dark: #793eb1;
}
body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark); 
}
} 