
/*--------------------pantalla nueva--------------*/

.verification-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8d8ceb 0%, #cf70ec 100%);
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.verification-box {
  max-width: 500px;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.verificando {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ddd;
}

.exito {
  color: #28a745; /* verde */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.error {
  color: #dc3545; /* rojo */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.verification-box p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn-exito {
  background-color: #20838a;
  color: white;
  margin-top: 1rem;
}

.btn-exito:hover {
  background-color:  #20838aab;
}

.btn-error {
  background-color: #dc3545;
  color: white;
  margin-top: 1rem;
}

.btn-error:hover {
  background-color: #a71d2a;
}
